.seats {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--backgroundColor);
    padding: 1.5rem;
}

.seats-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.seats-spinner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.seats-button {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 0 2rem 2rem 0;
    text-decoration: none;
}

.seats-list {
    background-color: var(--backgroundCard);
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 1000px;
}

.seats-subtitle {
    font-weight: bold;
    text-transform: uppercase;
    color: var(--textColor);
    margin-bottom: 10px;
}

.seats-no-seats {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--textColor);
}

.seats-table-header {
    display: flex;
    justify-content: space-between;
    align-content: center;
    color: var(--textColor);
    font-weight: bold;
    text-transform: uppercase;
    border-top: 1px solid #2e2e2e;
    margin-top: 0.5rem;
}

.seats-table {
    width: 100%;
    border-collapse: collapse;
}

.seats-table thead {
    color: var(--backgroundTextColor);
}

.seats-table tbody {
    color: var(--textColor);
}

.seats-table th,
.seats-table td {
    padding: 10px;
    text-align: left;
}

.seats-table th {
    background-color: var(--primaryDarkColor);
}

.seats-table tr:nth-child(even) {
    background-color: var(--backgroundInput);
}

.seats-head-actions {
    display: flex;
    justify-content: flex-end;
}

.seats-table-date {
    width: 20%;
}

.seats-table-number {
    width: 20%;
}

.seats-table-description {
    width: 50%;
}

.seats-table-actions {
    width: 10%;
}
