.order {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 1rem;
}

.order-steps {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: relative;
    margin-bottom: 2rem;
}

.order-steps::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 4px;
    background: var(--primaryColor);
    z-index: 0;
    transform: translateY(-50%);
}

.order-step {
    position: relative;
    width: 50px;
    height: 50px;
    background: var(--primaryDarkColor);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    font-weight: bold;
    color: #000;
    z-index: 1;
    transition: all 0.3s ease-in-out;
}

.order-step.order-active {
    background: var(--primaryColor);
    color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.order-step:hover {
    background: var(--primaryDarkColor);
    color: #fff;
    cursor: pointer;
}

.order-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
}

.order-format {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

.order-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

.order-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    background-color: var(--backgroundCardDark);
    padding: 1rem 1.5rem;
    border-radius: 0.4rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.order-card-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.order-card-details p {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
}

.order-card-description {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--backgroundColor);
    padding: 0.5rem;
    border-radius: 0.4rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}

.order-card-priority-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.order-card-priority {
    padding: 0.3rem 0.5rem;
    border-radius: 0.2rem;
    text-transform: uppercase;
    font-weight: bold;
    transition: all 300ms;
    cursor: default;
}

.order-card-priority-high {
    background-color: var(--colorDelete);
}

.order-card-priority-high:hover {
    background-color: var(--colorDeleteDark);
}

.order-card-priority-medium {
    background-color: var(--colorMedium);
}

.order-card-priority-medium:hover {
    background-color: var(--colorMediumDark);
}

.order-card-priority-low {
    background-color: var(--colorSuccess);
}

.order-card-priority-low:hover {
    background-color: var(--colorSuccessDark);
}

.order-card-email {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
    color: var(--colorEdit);
    text-decoration: none;
    transition: all 300ms;
}

.order-card-email:hover {
    color: var(--colorEditDark);
}

.order-card-price {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: var(--colorSuccess);
    font-weight: bold;
    font-size: 1.4rem;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
}

.order-card-articles {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 0.5rem;
    margin: 1rem 0;
}

.order-card-article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: var(--backgroundColor);
    padding: 0.5rem;
    border-radius: 0.3rem;
    gap: 0.5rem;
}

.order-card-article p {
    margin: 0;
}

.order-card-article-name {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}

.order-card-article-amount {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.order-selects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
}

.order-select {
    display: flex;
    justify-content: space-between;
    background-color: var(--backgroundCardDark);
    border-radius: 0.2rem;
    padding: 0.5rem 1rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    width: 100%;
}

.order-select-article {
    width: 50%;
    font-weight: bold;
    text-transform: uppercase;
}

.order-select-supplier {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 50%;
}

.order-select-price {
    color: var(--colorSuccess);
    font-weight: bold;
    font-size: 1.5rem;
}

.order-label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.order-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
}

.order-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
}

.order-detail-selects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.order-detail-select {
    width: 100%;
}
