.actions {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    width: 100%;
}

.actions-action {
    display: flex;
    align-items: center;
    background-color: var(--backgroundColor);
    padding: 0.75rem;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.actions-action:hover {
    background-color: var(--primaryDarkColor);
}

.actions-description {
    color: var(--textColor);
    cursor: pointer;
    user-select: none;
}
