.roles {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--backgroundColor);
    padding: 1.5rem;
}

.roles-title {
    font-weight: bold;
    text-transform: uppercase;
    color: var(--textColor);
}

.roles-list-container {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    align-items: center;
}

.roles-buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
}

.roles-button {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 0 2rem 2rem 0;
    text-decoration: none;
}

.roles-button-table {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.roles-edit {
    background-color: var(--primaryColor);
}

.roles-delete {
    background-color: var(--colorDelete);
}

.roles-delete:hover {
    background-color: var(--colorDeleteDark);
}

.roles-list {
    background-color: var(--backgroundCard);
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 1000px;
}

.roles-subtitle {
    font-weight: bold;
    text-transform: uppercase;
    color: var(--textColor);
    margin-bottom: 10px;
}

.roles-spinner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.roles-table {
    width: 100%;
    border-collapse: collapse;
}

.roles-table thead {
    color: var(--backgroundTextColor);
}

.roles-table tbody {
    color: var(--textColor);
}

.roles-table th,
.roles-table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid var(--backgroundInput);
}

.roles-table th {
    background-color: var(--primaryDarkColor);
}

.roles-table tr:nth-child(even) {
    background-color: var(--backgroundInput);
}

.roles-alert {
    margin: 2rem 0 0 0;
}

.roles-modal-title {
    text-transform: uppercase;
    color: var(--textColor);
}

.roles-modal-rol p {
    font-weight: bold;
    color: var(--textColor);
}

.roles-modal-rol span {
    font-weight: normal;
}

.roles-modal-rol span {
    font-weight: normal;
}

.roles-modal-paragraph {
    color: var(--textColor);
}

.roles-modal-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 1rem;
}
