.createSeat {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--backgroundColor);
    padding: 1.5rem;
    border-radius: 8px;
    color: var(--textColor);
}

.createSeat-form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 600px;
}

.createSeat-form-title {
    margin: 0 0 0.5rem 0;
    width: 100%;
    text-align: start;
    text-transform: uppercase;
}

.createSeat-group,
.form-input.createSeat-input {
    width: 97%;
}

.createSeat-subgroup {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.createSeat-subgroup-input {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
}

.createSeat-accountButtons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    width: 40%;
}

.createSeat-accountButton {
    text-decoration: none;
    font-size: 0.7rem;
}

.createSeat-checkouts {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 40%;
}

.createSeat-checkout {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.createSeat-checkout .checkout {
    position: unset;
}

.createSeat-account {
    width: 100%;
}

.createSeat-account-label {
    margin-bottom: 0.5rem;
}

.createSeat-account-select {
    width: 100%;
    padding: 10px;
    background-color: var(--backgroundInput);
    color: var(--textColor);
    border: none;
    border-radius: 4px;
    font-size: 16px;
    appearance: none;
    outline: none;
    transition: border-color 0.3s;
}

.createSeat-account-select:hover {
    border-color: var(--primaryDarkColor);
}

.createSeat-account-select:focus {
    border-color: var(--primaryDarkColor);
}

.createSeat-add-container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    width: 100%;
}

.createSeat-add {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--primaryColor);
    border: none;
    border-radius: 50%;
    color: var(--backgroundTextColor);
    transition: background-color 0.3s;
}

.createSeat-icon {
    width: 40px;
    height: 50px;
}

.createSeat-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.createSeat-seats-empty {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
}

.createSeat-seats-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 2rem;
    width: 1000px;
}

.createSeat-table {
    width: 100%;
    border-collapse: collapse;
}

.createSeat-table thead {
    color: var(--backgroundTextColor);
}

.createSeat-table tbody {
    color: var(--textColor);
}

.createSeat-table th,
.createSeat-table td {
    padding: 10px;
    text-align: left;
}

.createSeat-table th {
    background-color: var(--primaryDarkColor);
}

.createSeat-table tr:nth-child(even) {
    background-color: var(--backgroundInput);
}

.diary-seating .createSeat-actions-container {
    text-align: center;
    width: 15%;
}

.createSeat-delete {
    margin-right: 0.5rem;
    background-color: var(--colorDelete);
}

.createSeat-delete:hover {
    background-color: var(--colorDeleteDark);
}
