---
// CSS
import '../css/auth/confirm.css'

// AUTH
import { isLoggedIn } from '../utils/auth';

// COMPONENTS
import Layout from '../layouts/Layout.astro';
import FormConfirm from '../components/auth/FormConfirm.jsx';

// REDIRECT
const token = Astro.cookies.get("AUTH_TOKEN");
if (isLoggedIn(token)) {
	return Astro.redirect("/")
}
---

<Layout title="Confirmar Cuenta - SSAA2" navbar={false}>
	<div class="confirm">
		<FormConfirm client:only="react"/>
	</div>
</Layout>
