---
// CSS
import '../css/auth/register.css'

// AUTH
import { isLoggedIn } from '../utils/verifyAuth';

// COMPONENTS
import Layout from '../layouts/Layout.astro';
import LayoutAuth from "../layouts/LayoutAuth.jsx";
import Create from "../components/users/Create.jsx";

// REDIRECT
const token = Astro.cookies.get("AUTH_TOKEN");
if (!isLoggedIn(token)) {
	return Astro.redirect("/login")
}
---

<Layout title="Crear Usuario - SSAA2" container={false}>
	<LayoutAuth client:only="react" action="CREATE_USER">
		<div class="register">
			<Create client:only="react"/>
		</div>
	</LayoutAuth>
</Layout>
