---
// CSS
import '../css/auth/forgot.css'

// AUTH
import { isLoggedIn } from '../utils/verifyAuth';

// COMPONENTS
import Layout from '../layouts/Layout.astro';
import FormResetPassword from '../components/auth/FormResetPassword';

// REDIRECT
const token = Astro.cookies.get("AUTH_TOKEN");
if (isLoggedIn(token)) {
	return Astro.redirect("/")
}
---

<Layout title="Olvide Mi Contraseña - SSAA2" container={false}>
	<div class="forgot">
		<FormResetPassword client:only="react"/>
	</div>
</Layout>
