---
// CSS
import '../css/auth/forgot.css'

// AUTH
import { isLoggedIn } from '../utils/auth';

// COMPONENTS
import Layout from '../layouts/Layout.astro';
import FormResetPassword from '../components/auth/FormResetPassword';

// REDIRECT
const isAuth = Astro.cookies.get("AUTH_TOKEN");
if (isLoggedIn(isAuth)) {
	return Astro.redirect("/")
}
---

<Layout title="Olvide Mi Contraseña - SSAA2">
	<main class="forgot">
		<FormResetPassword client:only="react"/>
	</main>
</Layout>
