---
// AUTH
import { isLoggedIn } from '../utils/auth';

// COMPONENTS
import Layout from '../layouts/Layout.astro';

// REDIRECT
const isAuth = Astro.cookies.get("AUTH_TOKEN");
if (!isLoggedIn(isAuth)) {
	return Astro.redirect("/login")
}
---

<Layout title="Inicio - SSAA2">
	<main>
		
	</main>
</Layout>
