---
// CSS
import '../css/auth/login.css'

// AUTH
import { isLoggedIn } from '../utils/verifyAuth';

// COMPONENTS
import Layout from '../layouts/Layout.astro';
import LayoutNotAuth from '../layouts/LayoutNotAuth';
import FormLogin from '../components/auth/FormLogin.jsx';

// REDIRECT
const isAuth = Astro.cookies.get("AUTH_TOKEN");
if (isLoggedIn(isAuth)) {
	return Astro.redirect("/")
}
---

<Layout title="Iniciar Sesión - SSAA2" container={false}>
	<LayoutNotAuth client:only="react">
		<div class="login">
			<FormLogin client:only="react"/>
		</div>
	</LayoutNotAuth>
</Layout>
