---
// CSS
import '../css/auth/newPassword.css'

// AUTH
import { isLoggedIn } from '../utils/verifyAuth';

// COMPONENTS
import Layout from '../layouts/Layout.astro';
import LayoutNotAuth from '../layouts/LayoutNotAuth.jsx';
import FormNewPassword from '../components/auth/FormNewPassword.jsx';

// REDIRECT
const token = Astro.cookies.get("AUTH_TOKEN");
if (isLoggedIn(token)) {
	return Astro.redirect("/")
}
---

<Layout title="Reestablecer Contraseña - SSAA2" container={false}>
	<LayoutNotAuth client:only="react">
		<div class="newPassword">
			<FormNewPassword client:only="react"/>
		</div>
	</LayoutNotAuth>
</Layout>
