---
// CSS
import '../css/auth/newPassword.css'

// AUTH
import { isLoggedIn } from '../utils/verifyAuth';

// COMPONENTS
import Layout from '../layouts/Layout.astro';
import FormNewPassword from '../components/auth/FormNewPassword.jsx';

// REDIRECT
const token = Astro.cookies.get("AUTH_TOKEN");
if (isLoggedIn(token)) {
	return Astro.redirect("/")
}
---

<Layout title="Reestablecer Contraseña - SSAA2" container={false}>
	<div class="newPassword">
		<FormNewPassword client:only="react"/>
	</div>
</Layout>
