---
// CSS
import '../css/auth/register.css'

// AUTH
import { isLoggedIn } from '../utils/auth';

// COMPONENTS
import Layout from '../layouts/Layout.astro';
import FormRegister from '../components/auth/FormRegister.jsx';

// REDIRECT
const isAuth = Astro.cookies.get("AUTH_TOKEN");
if (isLoggedIn(isAuth)) {
	return Astro.redirect("/")
}
---

<Layout title="Registrarse - SSAA2">
	<main class="register">
		<FormRegister client:only="react"/>
	</main>
</Layout>
