---
// CSS
import '../css/auth/register.css'

// AUTH
import { isLoggedIn } from '../utils/verifyAuth';

// COMPONENTS
import Layout from '../layouts/Layout.astro';
import FormRegister from '../components/auth/FormRegister.jsx';

// REDIRECT
const token = Astro.cookies.get("AUTH_TOKEN");
if (isLoggedIn(token)) {
	return Astro.redirect("/")
}
---

<Layout title="Registrarse - SSAA2" container={false}>
	<div class="register">
		<FormRegister client:only="react"/>
	</div>
</Layout>
