.seats {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--backgroundColor);
    padding: 1.5rem;
}

.seats-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.seats-spinner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.seats-button {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 0 2rem 2rem 0;
    text-decoration: none;
}

.seats-list {
    background-color: var(--backgroundCard);
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 1000px;
}

.seats-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
}

.seats-header-actions {
    display: flex;
    align-items: flex-end;
    gap: 1rem;
}

.seats-reverse-button {
    cursor: pointer;
    background-color: transparent;
    border: none;
    color: var(--textColor);
    transition: all;
    transition-duration: 300ms;
}

.seats-reverse-button:hover {
    color: var(--primaryColor);
}

.seats-reverse-icon {
    height: 25px;
    width: 25px;
}

.seats-dates {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 1rem;
}

.seats-date {
    padding: 0.5rem;
    border: none;
    border-radius: 4px;
    background-color: var(--backgroundInput);
    color: var(--textColor);
    transition: background-color 0.3s;
}

.seats-date:hover {
    background-color: var(--backgroundInputHover);
}

.seats-date-picker {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.seats-date-picker label {
    font-weight: bold;
    text-transform: uppercase;
    color: var(--textColor);
    margin-bottom: 0.5rem;
}

.seats-subtitle {
    font-weight: bold;
    text-transform: uppercase;
    color: var(--textColor);
    margin-bottom: 10px;
}

.seats-no-seats {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--textColor);
}

.seats-table-header {
    display: flex;
    justify-content: space-between;
    align-content: center;
    color: var(--textColor);
    font-weight: bold;
    text-transform: uppercase;
    border-top: 1px solid #2e2e2e;
    margin-top: 0.5rem;
}

.seats-table {
    width: 100%;
    border-collapse: collapse;
}

.seats-table thead {
    color: var(--backgroundTextColor);
}

.seats-table tbody {
    color: var(--textColor);
}

.seats-table th,
.seats-table td {
    padding: 10px;
    text-align: left;
}

.seats-table th {
    background-color: var(--primaryDarkColor);
}

.seats-table tr {
    height: 50px;
}

.seats-table tr:nth-child(even) {
    background-color: var(--backgroundInput);
}

.seats-head-actions {
    display: flex;
    justify-content: flex-end;
}

.seats-table-date {
    width: 20%;
}

.seats-table-user {
    width: 20%;
}

.seats-table-number {
    text-align: center;
    width: 10%;
}

.seats-table-description {
    width: 40%;
}

.seats-table-actions {
    width: 10%;
}

.seats-table td.seats-table-actions,
.seats-table th.seats-table-actions {
    text-align: end;
}

.seats-table-actions a {
    text-decoration: none;
}
