.diary {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--backgroundColor);
    padding: 1.5rem;
}

.diary-seating-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.diary-seating {
    background-color: var(--backgroundCard);
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 1000px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.diary-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 0.5rem;
}

.diary-header-actions {
    display: flex;
    align-items: flex-end;
    gap: 1rem;
}

.diary-reverse {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.diary-reverse-button {
    cursor: pointer;
    height: 35px;
    width: 35px;
    transition: all;
    transition-duration: 300ms;
}

.diary-reverse-button {
    color: var(--primaryColor);
}

.diary-reverse-button:hover {
    color: var(--primaryDarkColor);
}

.diary-dates {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 1rem;
}

.diary-date {
    padding: 0.5rem;
    border: none;
    border-radius: 4px;
    background-color: var(--backgroundInput);
    color: var(--textColor);
    transition: background-color 0.3s;
}

.diary-date:hover {
    background-color: var(--backgroundInputHover);
}

.diary-date-picker {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.diary-date-picker label {
    font-weight: bold;
    text-transform: uppercase;
    color: var(--textColor);
    margin-bottom: 0.5rem;
}

.diary-subtitle {
    font-weight: bold;
    text-transform: uppercase;
    color: var(--textColor);
    margin: 0;
}

.diary-table-container {
    flex-grow: 1;
    overflow-y: auto;
    max-height: calc(100vh - 60px);
}

.diary-table {
    width: 100%;
    border-collapse: collapse;
}

.diary-table thead {
    color: var(--backgroundTextColor);
}

.diary-table tbody {
    color: var(--textColor);
}

.diary-table th,
.diary-table td {
    padding: 10px;
    text-align: left;
    border: 1px solid #2e2e2e;
}

.diary-table th {
    background-color: var(--primaryDarkColor);
}

.diary-seating .diary-haber {
    padding-left: 4rem;
}

.diary-table-col-date {
    width: 10%;
}

.diary-table-col-description {
    width: 35%;
}

.diary-table-col-accounts {
    width: 30%;
}

.diary-table-col-debe {
    width: 12.5%;
}

.diary-table-col-haber {
    width: 12.5%;
}

.diary-no-seats {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--textColor);
}

.diary-spinner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.diary-button {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 0 2rem 2rem 0;
    text-decoration: none;
}
