.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    background-color: var(--backgroundCard);
    color: var(--textColor);
}

.form-message-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
    height: 2rem;
}

.form-message {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--textColor);
    padding: 0.5rem 1rem;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 4px;
}

.form-error {
    background-color: #c70a0a;
}

.form-success {
    background-color: #11bd11;
}

.form-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0.5rem 0;
}

.form-label {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    font-size: 0.9rem;
    text-transform: uppercase;
}

.form-input {
    width: 100%;
    padding: 0.5rem;
    margin-top: 0.5rem;
    border: none;
    border-radius: 4px;
    background-color: var(--backgroundInput);
    width: 250px;
    color: var(--textColor);
    transition: background-color 0.3s;
}

.form-input-blocked {
    cursor: default;
    background-color: #1a1919;
    border: 1px solid #2e2e2e;
}

.form-submit {
    cursor: pointer;
    width: 100%;
    padding: 0.7rem;
    margin-top: 1rem;
    background-color: var(--primaryColor);
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    font-weight: bold;
    color: var(--textColor);
    transition: background-color 0.3s;
    text-transform: uppercase;
}

.form-submit:hover {
    background-color: var(--primaryDarkColor);
}

.form-submit-blocked {
    cursor: default;
    background-color: #2e2e2e;
}

.form-submit-blocked:hover {
    background-color: #1a1919;
}

.form-links {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
}

.form-link {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--textColor);
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.9rem;
}

.form-spinner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}
