.listUser {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--backgroundColor);
    padding: 1.5rem;
}

.listUser-users {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.listUser-spinner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.listUser-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
}

.listUser-list {
    background-color: var(--backgroundCard);
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 1000px;
}

.listUser-filter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.listUser-filter select {
    width: 100%;
    padding: 0.5rem;
    background-color: var(--backgroundInput);
    color: var(--textColor);
    border: 2px solid var(--primaryColor);
    border-radius: 4px;
    font-size: 16px;
    appearance: none;
    outline: none;
    transition: border-color 0.3s;
}

.listUser-no-users {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--textColor);
}

.listUser-subtitle {
    font-weight: bold;
    text-transform: uppercase;
    color: var(--textColor);
    margin: 0;
}

.listUser-table {
    width: 100%;
    border-collapse: collapse;
}

.listUser-table thead {
    color: var(--backgroundTextColor);
}

.listUser-table tbody {
    color: var(--textColor);
}

.listUser-table th,
.listUser-table td {
    padding: 10px;
    text-align: left;
}

.listUser-table th {
    background-color: var(--primaryDarkColor);
}

.listUser-table tr:nth-child(even) {
    background-color: var(--backgroundInput);
}

.listUser-head-actions {
    display: flex;
    justify-content: flex-end;
}

.listUser-actions {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 0.5rem;
}

.listUser-button-table {
    text-decoration: none;
    font-size: 0.8rem;
}

.listUser-delete {
    background-color: var(--colorDelete);
}

.listUser-delete:hover {
    background-color: var(--colorDeleteDark);
}

.listUser-actions button {
    font-size: 0.8rem;
}

.listUser-alert {
    margin: 2rem 0 0 0;
}

.listUser-modal-title {
    text-transform: uppercase;
    color: var(--textColor);
}

.listUser-modal-user {
    font-weight: bold;
    color: var(--textColor);
}

.listUser-modal-user span {
    font-weight: normal;
}

.listUser-modal-paragraph {
    color: var(--textColor);
}

.listUser-modal-select {
    width: 100%;
    padding: 0.5rem;
    background-color: var(--backgroundInput);
    color: var(--textColor);
    border: 2px solid var(--primaryColor);
    border-radius: 4px;
    font-size: 16px;
    appearance: none;
    outline: none;
    transition: border-color 0.3s;
}

.listUser-modal-select:hover {
    border-color: var(--primaryDarkColor);
}

.listUser-modal-select:focus {
    border-color: var(--primaryDarkColor);
}

.listUser-modal-option {
    background-color: var(--backgroundCard);
    color: var(--textColor);
}

.listUser-modal-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 1rem;
}

.listUser-button {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 0 2rem 2rem 0;
    text-decoration: none;
}

.listUser-modal-user p {
    font-weight: bold;
    color: var(--textColor);
}

.listUser-modal-user span {
    font-weight: normal;
}

.listUser-modal-user span {
    font-weight: normal;
}
